{% extends "layout.html" %}

{% block title %}
    Join Board
{% endblock %}

{% block main %}
    {% if not message %}
    <span></span>
    {% else %}
    <div class="alert alert-info" role="alert">
        {{ message }}
    </div>
    {% endif %}
    <form action="/join" method="post">
        <div class="form-group">
            <label for="board">Board name</label>
            <input type="text" name="board" class="form-control" id="board" aria-describedby="boardHelp">
            <small id="boardHelp" class="form-text text-muted">Please provide the name for the board you wish to join or create.</small>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <h1>Join a new board</h1>
    <p>Here it will be possible to join (or create a new board)</p>
    <p>The page will consist of an input box and a button. If the specified input correlates to an existing board, the user will join. If the board doesn't yet exist, user will be prompted if they want to create it.</p>
    <p>When either possibility has been carried out, the user will be taken to the board in question</p>
{% endblock %}
