{% extends "layout.html" %}

{% block title %}
    Join Board
{% endblock %}

{% block main %}
    {% if not message %}
    <span></span>
    {% else %}
    <div class="alert alert-info" role="alert">
        {{ message }}
    </div>
    {% endif %}
    <form action="/join" method="post">
        <div class="form-group">
            <label for="board">Board name</label>
            <input type="text" name="board" class="form-control" id="board" aria-describedby="boardHelp">
            <small id="boardHelp" class="form-text text-muted">Please provide the name for the board you wish to join or create.</small>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}
