{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block main %}
    {% if not message %}
    <span></span>
    {% elif message_type == "good" %}
    <div class="alert alert-success" role="alert">
        {{ message }}
    </div>
    {% else %}
    <div class="alert alert-danger" role="alert">
        {{ message }}
    </div>
    {% endif %}
    <h1>Welcome to Ahoj!</h1>
    <h2>Please login or register a new account</h2>
    <img width="20%" src="/static/ahoj.png">
    <form action="/login" method="post">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" name="username" class="form-control" id="username" aria-describedby="usernameHelp">
            <small id="usernameHelp" class="form-text text-muted">We'll never share your information with anyone else.</small>
        </div>
        <br>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" class="form-control" id="password">
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>

{% endblock %}
